* {
    border: 1px solid red;
}

/* For navbar */

.navbar {
  background-color: rgba(72, 1, 70, .8);
  position:relative;
  z-index:1;
}

.dropdown-menu {
  --bs-dropdown-bg: white;
  --bs-dropdown-link-color: #333, .5;
  --bs-dropdown-link-hover-color:white;
  --bs-dropdown-link-hover-bg: rgba(130, 12, 126, 0.5);
}

  #logo {
    height: 100px;
    width: auto;  
  }
  
  .navbar {
    height: 100px;
  }
  
  @media screen and (min-width: 768px) {
    #logo {
      height: 140px;
      width: auto;
      }
  
    .navbar {
    height: 140px;
    }
  }

  .sidebar {
    background-color:  rgba(72, 1, 70);
  }

  /* h1 {
    font-weight: 700;
    color: rgb(143, 13, 138);
    text-align: center;
    text-shadow:
    1px 1px 0 #ffc107,
    1px -1px 0 #ffc107,
    -1px 1px 0 #ffc107,
      -1px -1px 0 #ffc107;
  } For section Heading Lettering */


/* for Main Section */


.title-image {
  margin-top: -100px;
}

.position {
  position: relative;
}

@media screen and (min-width: 700px) {
.title-image {
    margin-top: -140px;
  }

  .membership {
    
}
}

/* For Footer */

footer {
    background-color: rgb(72, 1, 70);
    margin-right: 0;
}

    .map-wrapper {
width:277px;
height: 202px;
overflow: hidden;
}

.map-wrapper img {
width: 100%;
object-fit: cover;
}

.fa-brands {
color: white;
}

.fa-brands:hover {
color: #5DADE2;
}