* {
    /* border: 1px solid red; */
}

nav {
    background-color: rgba(72, 1, 70, 0.8);
}

#logo {
    width: 200px;
    overflow: hidden;
    object-fit: cover;
    height: auto;
}

.dropdown-menu {
    --bs-dropdown-bg: white;
    --bs-dropdown-link-color: #333, .5;
    --bs-dropdown-link-hover-color:white;
    --bs-dropdown-link-hover-bg: rgba(130, 12, 126, 0.5);
  }

  :root {
    --navbar-height: 134px;
  }
  

  .navbar {
    height: var(--navbar-height);
  }
  
  .next-section {
    margin-top: var(--navbar-height);
  }


@media screen and (min-width: 600px) {
    #trainer-grid {
        padding-top: 140px;
}
}

.next-section {
  margin-top: 145px;
}

h1 {
  font-weight: 700;
  color: rgb(143, 13, 138);
  text-align: center;
  text-shadow:
  1px 1px 0 #ffc107,
  1px -1px 0 #ffc107,
  -1px 1px 0 #ffc107,
    -1px -1px 0 #ffc107;
}

.btn-custom {
    background-color: rgb(143, 13, 138);
    color: white;
}


.btn-custom:hover {
    border-color: black;
    background-color: rgb(181, 20, 176);
    color: white;
}




/* Below for Footer */

footer {
    background-color: rgba(72, 1, 70, 0.8);
}

    .map-wrapper {
width:277px;
height: 202px;
overflow: hidden;
}

.map-wrapper img {
width: 100%;
object-fit: cover;
}

.fa-brands {
color: white;
}

.fa-brands:hover {
color: #5DADE2;
}

@media only screen and (max-width: 600px) {
.location-row {
    flex-direction: column;
}
}